.navCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #0072ce;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  font-weight: 800;
}

.basketImg {
  height: 30px;
}

.navImg {
  margin-left: 10px;
  height: 30px;
  padding-bottom: 1px;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navItem {
  margin-top: 3px;
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color */
}
